<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<canvas class="chart chart-line" data="data" labels="labels" series="series" options="options"></canvas>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Stocks:</h1>
			<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="stock in theStocks">
				<li><a href="#">{{stock.name}}<button type="button" class="close" ng-click="deleteStock(stock)">&times;</button></a></li>
			</ul>
		</div>
	</div>

	<form class="stock-form">
		<p class="input-group">
			<input type="text" class="form-control" placeholder="Add a new stock here." ng-model="newStock">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary" ng-click="addStock()">Add New</button>
			</span>
		</p>
	</form>
</div>

<footer class="footer">
	<div class="container">
			<p>StockOverwatch v1.0.0 |
				<a href="https://github.com/OAltr/StockOverwatch/issues?state=open">Issues</a></p>
	</div>
</footer>
